@charset "utf-8";
/* CSS Document */
html, body {background: url("pexels-andrei-tanase-1271620.jpg");
			background-repeat: repeat-x;
			background-attachment: fixed;  
  			background-size: cover;
}

li {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #F5EFEF;
}


p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #F5EFEF;
}

body {
 font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6, {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

img{
	border: 4px solid #000000;
}
#MainArea{
	padding: 0 40px;
}

#cv {
	width: 90%;
	max-width: 1000px;
	background:#326771;
	margin: 30px auto;
	border: 2px solid #000000;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img {
  border-radius: 8px;
  

